[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tp597f
[access "refs/for/refs/*"]
	read = group user/tp597f
	push = group user/tp597f
	label-Code-Review = -2..+2 group user/tp597f
	label-Verified = -1..+1 group user/tp597f
	rebase = group user/tp597f
	removeReviewer = group user/tp597f
	submit = group user/tp597f
[access "refs/heads/*"]
	read = group user/tp597f
	create = group user/tp597f
	push = +force group user/tp597f
	pushMerge = group user/tp597f
[access "refs/tags/*"]
	push = group user/tp597f
	push = +force group user/tp597f
